# Default ignored files
/../../Must_first project /.idea/shelf/
/../../Must_first project /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Must_first project /.idea/httpRequests/
# Datasource local storage ignored files
/../../Must_first project /.idea/dataSources/
/../../Must_first project /.idea/dataSources.local.xml
